*{
    font-family:'Times New Roman';
    background-color: rgb(237, 180, 223);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

header{
    background-color:cornsilk;
    color: rgb(135, 6, 99);
    font-weight: bolder;
    padding: 5px;
    border: 5px solid black;
    text-align: center;
    margin: 50px;
    border-radius: 20px;

}

ul{
    color: black;
    text-align: left;
    background-color: white;
    font-size: 20px;
    
    
    

}

a:hover{
    background-color: crimson;
    color: plum ;
    
}




.button-fixed{
    width: 150px;
    background-color: rgb(205, 184, 192);
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr;
    gap: 100px;
   padding: 20px;
   margin: 20px;
   background-color: beige;
}

article{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    border: 5px solid black;
    margin: 100px;
    border-radius: 20px;

}



p {
    color: rgb(0, 0, 0);
    font-size: larger;
    text-align: center;
}


footer {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
input:focus{
    background-color:white;
    color: black;
}
button{
    border: 5px solid hotpink;
   background-color: antiquewhite;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 30px;
   
}

footer{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 5px;
    padding: 5px;
   margin: 5px;
   
}
p::before{
    content: '🍬';
}

p::after{
    content: '🍬';
}

h1::before{
    content: '🍭';
}

h1::after{
    content: '🍭';
}